<html>
	<head>
		<title>Planning Poker</title>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<script>
			$(document).ready(function(){


				$("#reset").click(function(){
					$.get('reset', function(data, status){
						console.log(`${data}`)
					});
				})

				$("#reveal").click(function(){
					$.get('reveal', function(data, status){
						console.log(`${data}`)
					});
				})

				$(".button").click(function(){
					$.getJSON( "vote", {name: $('#name').val(), score: $(this).val()}, function( data ) {
					});
				})

				function poll(){
					$.getJSON( "getvotes", function( data ) {
						$("#votes").html('');
						$.each( data, function( key, val ) {
							$("#votes").append( key + ': '  + val + '<br>' );
						});
					});
				}

				setInterval(poll, 2000);
			})

		</script>
		
	</head>
	<body>

		<div class="frame">

			<div class="topnav">
				<h1>Scrum Poker</h1>
			</div>
			
			<div style="padding-left:16px">
				<br>
				Enter your name: <input type="text" id="name"><br>
				<br>
				<hr>
				<br>
				<h2>Your vote value</h2>
				<button value="0" class="button">
				<img src="/static/images/cartes_0.png" width="100" height="150"/></button>
				<button value="1" class="button">
                <img src="/static/images/cartes_1.png" width="100" height="150"/></button>
				<button value="2" class="button">
                <img src="/static/images/cartes_2.png" width="100" height="150"/></button>
				<button value="3" class="button">
                <img src="/static/images/cartes_3.png" width="100" height="150"/></button>
				<button value="5" class="button">5
				<img src="/static/images/cartes_5.png" width="100" height="150"/></button>
				<button value="8" class="button">
				<img src="/static/images/cartes_8.png" width="100" height="150"/></button>		
				<button value="13" class="button">
					<img src="/static/images/cartes_13.png" width="100" height="150"/></button>	
				<button value="20" class="button">
					<img src="/static/images/cartes_20.png" width="100" height="150"/></button>
                <button value="40" class="button">
					<img src="/static/images/cartes_40.png" width="100" height="150"/></button>
                <button value="100" class="button">
					<img src="/static/images/cartes_100.png" width="100" height="150"/></button>
				<button value="?" class="button">
					<img src="/static/images/cartes_interro.png" width="100" height="150"/></button>	
				<button value="cafe" class="button">
                <img src="/static/images/cartes_cafe.png" width="100" height="150"/></button>
				<br>
				<hr>
				<br>
				<button id="reveal">Reveal</button>
				<button id="reset">Reset</button>
				<br>
				<hr>
				<br>
				<h2>Votes</h2>
				<div id="votes">
				</div>

			</div>
		</div>
	</body>
</html>